.nav {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0 , 0, 0, .6);
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 999;
  transition: left .4s;
  .inputbox {
    background-color: #fff;
    width: 65%;
    padding: .2rem;
    .input {
      margin: .2rem 0;
      border: 1px solid #ccc;
      border-radius: 15px;
    }
  }
  ul {
    width: 65%;
    height: calc(100% - 1.4rem);
    background-color: #fff;
    margin: 0;
    flex-direction: column;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border: 2px dashed $varTheme;
      height: 0;
      background-color: #fff;
      width: 100%;
    }
    li {
      justify-content: left;
      align-items: center;
      margin-left: .4rem;
      span {
        margin-right: .4rem;
        color: #000;
      }
    }
  }
  .img {
    width: 65%;
    background-color: #fff;
    text-align: center;
    padding-top: .4rem;
    .logo {
      width: 1rem;
      height: 1rem;
    }
  }
}
.nav-open {
  left: 0;
}