@mixin circular() {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  transition: all .3s cubic-bezier(1, 1.95, 1, 1);
  box-shadow: 1px 8px 12px -8px #000;
  @include flexCenter()
}

.back {
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  div {
    cursor: pointer;
  }
  .num {
    border-radius: 50%;
    background-color: $varFontColor;
    user-select:none;
    @include wh(50px, 50px);
    @include flexCenter();
    box-shadow: 1px 8px 12px -8px #000;
    span {
      transition: all .3s cubic-bezier(1, 1.95, 1, 1);
      font-size: 40px;
    }
  }
  .top {
    top: -50px;
    left: 200%;
    transform: translateX(-50%);
    @include circular()
  }
  .left {
    top: 80px;
    left: 80px;
    transform: translateX(-50%);
    @include circular()
  }
  .left-open {
    left: -36px;
    top: -40px;
  }
  .bottom {
    @include circular();
    top: 200%;
    left: -70px;
    transform: translateY(-50%);
  }
  .top-open {
    left: 50%;
  }
  .bottom-open {
    top: 50%;
  }
}
.img-rotate {
  transform: rotate(-90deg);
}