
.code {
  display: flex;
  align-items: center;
  .inputCode {
    width: calc(100% - 120px);
  }
  img {
    background-color: #fff;
    cursor: pointer;
    width: 120px;
    height: 50px;
  }
}
.tip {
  color: #fa9905;
  padding-left: 30px;
  line-height: 20px;
  height: 20px;
}

