.header {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 999;
  justify-content: center;
  transition: all .4s;
  align-items: center;
  display: flex;
  height: 60px;
  .logo {
    width: 45px;
    border-radius: 50%;
    height: 45px;
    opacity: 1;
    cursor: pointer;
    transition: all .4s;
  }
  .logo-open {
    opacity: 0;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s;
    transform: translateX(200%);
    opacity: 0;
  }
  .nav-open {
    transform: translateX(-50%);
    opacity: 1;
  }
  .btn {
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 30px;
    &::after {
      content: '';
      border-top: 3px solid #fff;
      width: 30px;
      position: absolute;
      top: 20px;
      left: 15px;
      transition: all .4s cubic-bezier(1, 1.95, 1, 1);
    }
    &::before {
      content: '';
      border-top: 3px solid #fff;
      width: 30px;
      position: absolute;
      top: 38px;
      left: 15px;
      transition: all .4s cubic-bezier(1, 1.95, 1, 1);
    }
  }
  .btn-rotate {
    &::before {
      top: 30px;
      transform: rotate(-45deg);
    }
    &::after {
      top: 30px;
      transform: rotate(45deg);
    }
  }
  ul {
    display: flex;
    margin: 5px 0;
    transition: transform .4s cubic-bezier(1, 1.95, 1, 1);
    li {
      width: 100px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  span {
    transition: all .2s;
    cursor: pointer;
    color: #fff;
    &:hover {
      color: #e05d44;
    }
  }

  .modal {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 88, .4);
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s;
    .search {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
      width: 600px;
      display: flex;
      input {
        height: 50px;
        outline: none;
        border: none;
        box-sizing: border-box;
        padding: 0 20px;
        border-radius: 25px 0 0 25px;
        display: inline-block;
        color: #000058;
        width: 100%;
      }
      button {
        height: 50px;
        width: 100px;
        border-radius: 0 25px 25px 0 ;
        border: none;
        display: inline-block;
        &[ant-click-animating-without-extra-node]:after {
          border: 0 none;
          opacity: 0;
          animation:none 0 ease 0 1 normal;
        }
        span {
          font-size: 24px;
          color: #000058;
        }
      }
    }
  }
}
.modal-open{
  height: 100% !important;
}