 .header-open {
  background-color: $varTheme;
}
.header {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 999;
  transition: all .4s;
  @include wh(100%, 60px);
  @include flexCenter();
  .logo {
    @include wh(45px, 45px);
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;
    transition: all .4s;
  }
  .logo-open {
    opacity: 0;
    cursor: default;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1200px;
    @include flexSpaceBetween();
    transition: all .4s;
    transform: translateX(200%);
    opacity: 0;
  }
  .nav-open {
    transform: translateX(-50%);
    opacity: 1;
  }
  .btn {
    height: 70px;
    position: relative;
    @include flexCenter();
    padding-left: 60px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 30px;
    &::after {
      content: '';
      border-top: 3px solid $varFontColor;
      width: 30px;
      position: absolute;
      top: 20px;
      left: 15px;
      transition: all .4s cubic-bezier(1, 1.95, 1, 1);
    }
    &::before {
      content: '';
      border-top: 3px solid $varFontColor;
      width: 30px;
      position: absolute;
      top: 38px;
      left: 15px;
      transition: all .4s cubic-bezier(1, 1.95, 1, 1);
    }
  }
  .btn-rotate {
    &::before {
      top: 30px;
      transform: rotate(-45deg);
    }
    &::after {
      top: 30px;
      transform: rotate(45deg);
    }
  }
  ul {
    display: flex;
    margin: 5px 0;
    transition: transform .4s cubic-bezier(1, 1.95, 1, 1);
    li {
      @include wh(100px, 50px);
      @include flexCenter()
    }
  }
  span {
    transition: all .2s;
    cursor: pointer;
    color: $varFontColor;
    user-select: none;
    &:hover {
      color: #e05d44;
    }
  }

  .modal {
    @include wh(100%, 0);
    overflow: hidden;
    background-color:rgba(0, 0, 88, .4);
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s;
    .search {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
      width: 600px;
      display: flex;
      input {
        height: 50px;
        outline: none;
        border: none;
        box-sizing: border-box;
        padding: 0 20px;
        border-radius: 25px 0 0 25px;
        display: inline-block;
        color: $varTheme;
        width: 100%;
      }
      button {
        @include wh(100px, 50px);
        border-radius: 0 25px 25px 0 ;
        border: none;
        display: inline-block;
        &[ant-click-animating-without-extra-node]:after {
          border: 0 none;
          opacity: 0;
          animation:none 0 ease 0 1 normal;
        }
        span {
          font-size: 24px;
          color: $varTheme;
        }
      }
    }
  }
}
.modal-open{
  height: 100% !important;
}