.el-table,
.el-table__expanded-cell {
  background-color: transparent;
}
::v-deep .el-table, .el-table__expanded-cell {
  background-color: transparent !important;
}
::v-deep .el-table {
  color: #000;
  th,
  tr {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: #000 !important;
  }
  .el-table__body tr:hover>td{
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
}

::v-deep(.el-input__inner) {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
::v-deep(.el-table__empty-text) {
  color: #000 !important;
}
.handle-box {
  margin-bottom: 20px;
}

.handle-input {
  width: 200px;
  display: inline-block;
}
.table {
  width: 100%;
  font-size: 14px;
}
.red {
  color: #ff0000;
}
.mr10 {
  margin-right: 10px;
}