:root {
  --theme-color: rgb(0, 0, 88);  // 变量名: --theme-color
  --theme-colorbg: #fff;
  --theme-fontColor: #000;
}
$varTheme: var(--theme-color);
$varThemeBg: var(--theme-colorbg);
$varFontColor: var(--theme-fontColor);

@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin changeColor {
  background-color: $varThemeBg;
  color: $varFontColor;
  transition: all .4s;
}