.mask {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
  }
  .maskCom {
    position: absolute;
    top: 0;
    left: 0;
    @include wh(100%, 100%);
    background-color: rgba(0, 0, 0, .4);
    overflow: hidden;
    @include flexCenter();
    animation: animation_mask .8s linear;
    span {
      position: absolute;
      bottom: 60px;
      left: 50%;
      color: #fff;
      transform: rotate(-90deg) translateY(-50%);
      font-size: 40px;
      cursor: pointer;
      animation: animation_span 3s linear infinite;
    }
    h2 {
      color: #fff;
      user-select:none;
      position: relative;
      font-size: 50px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        height: 3px;
        background-color: #1d5560;
        margin: auto;
        animation: animation_line 3s linear infinite;
      }
    }
    .auraOwn {
      position: absolute;
      bottom: -70%;
      right: -60%;
      @include wh(100%, 120%);
      background-color: rgba(67, 82, 177, .6);
      transform: rotate(120deg);
      box-shadow: 0px 0px 60px 3px #4352b1;
      animation: animation_own 3s linear infinite alternate;
    }
    .auraTwo {
      position: absolute;
      bottom: -90%;
      right: -20%;
      @include wh(100%, 100%);
      background-color: rgba(67, 82, 177, .7);
      transform: rotate(170deg);
      box-shadow: 0px 0px 60px 3px #4352b1;
      animation: animation_two 3s linear infinite alternate;
    }
    .auraThree {
      position: absolute;
      top: 60px;
      left: -400px;
      @include wh(800px, 800px);
      background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
      border-radius: 50%;
      opacity: 0.4;
      box-shadow: 0px 0px 60px 8px #4352b1;
      animation: animation_three 7s linear infinite alternate;
    }

    @keyframes animation_own {
      from {
        transform: rotate(130deg);
      }
      to {
        transform: rotate(140deg);
      }
    }

    @keyframes animation_two {
      from {
        transform: rotate(160deg);
      }
      to {
        transform: rotate(170deg);
      }
    }

    @keyframes animation_three {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    @keyframes animation_span {
      from {
        bottom: 60px;
        opacity: 1;
        transform: rotate(-90deg) translateY(-50%);
      }
      to {
        bottom: 40px;
        opacity: 0;
        transform: rotate(-90deg) translateY(-50%) scale(.85);
      }
    }

    @keyframes animation_mask {
      from {
        transform: translateY(-30px);
        background-color: rgba(0, 0, 0, 1);
      }
      to {
        transform: translateY(0);
        background-color: rgba(0, 0, 0, .4);
      }
    }
    @keyframes animation_line {
      0% {
        width: 0;
      }
      90% {
        width: 80%;
      }
    }
  }
}